.centerBlock {
    padding-left: 111px;
    margin-right: auto;
}
.centeBlock__title {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: white;
    line-height: 72px;
    letter-spacing: -0.8px;
    margin-bottom: 45px;
}
.centerBlock__filter {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 51px;
}
.centerBlock__filter_title {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.list {
    position: absolute;
    background-color: #313131;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    height: auto;
    max-height: 200px;
    overflow-y:scroll;
}
.list::-webkit-scrollbar {
    width: 10px;               /* ширина scrollbar */
  }
  .list::-webkit-scrollbar-track {
    background: #313131;        /* цвет дорожки */
  }
  .list::-webkit-scrollbar-thumb {
    background-color: white;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid #313131;  /* padding вокруг плашки */
  }
.list-item-musician {
    color: #313131;
    text-decoration: none;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
    display: flex;
    justify-content: space-around; 
}
.list-item-year {
    color: #313131;
    text-decoration: none;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
    display: flex;
    justify-content: space-around; 
}
.list-item-genre {
    color: #313131;
    text-decoration: none;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
    display: flex;
    justify-content: space-around; 
}

.dropdown:active .list {
    display: block;
}

.dropdown:active .dropbtn {
    box-shadow: 0 0 0 4px #5a01a7;
}
.dropdown:focus{
    display: block;
}

.centerBlock__filter_btn {
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
    cursor: pointer;
}
.centerBlock__filter_btn:active {
    background-color: blue;
}
.centerblock__playlist {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.centerblock__playlist-title {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.col1 {
    width: 447px;
}
.col2 {
    width: 321px;
}
.col3 {
    width: 245px;
}
.col4 {
    padding-left: 30px;
    width: 60px;
}
