

.centerblock__search {
  width: 100%;
  border-bottom: 1px solid #4e4e4e;
  margin-bottom: 51px;
  align-items: center;
  position: relative;
}

.search__svg {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  stroke: #ffffff;
  fill: transparent;
}

.search__text {
  width: 95%;
  flex-grow: 100;
  background-color: transparent;
  border: none;
  padding: 13px 10px 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary_color);
}
.search__text:focus{
  outline: none;
}
.search__result_box {
  position: absolute;
  background-color: var(--primary_color);;
  border-radius: 6px;
  border: solid 1px var(--secondary_color);
  padding: 10px 20px ;
  margin-left: 19px ;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search_hidden {
  display: none;
}

.search__result_item{
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  color: var(--secondary_color);
}

.search__result_item:hover{
  background-color: rgba(119, 61, 213, 0.687);
}
